/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 27.03.2017
 * Author: alex.maslennikova19@gmail.com
 */
.clearfix:after, .clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  content: '';
  clear: both;
}

.justify {
  text-align: justify;
  font-size: 1px;
  line-height: 0px;
}

.justify > * {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 15px;
  line-height: 1.4;
}

.justify:after {
  content: '';
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

/*.pp
{
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	z-index:999;
	opacity:.5;
	pointer-events:none;
}*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}

.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 0 10px;
}

body {
  color: #8e8e8e;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Roboto", Arial, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: #8e8e8e;
  text-decoration: none;
}

a:hover {
  color: #131316;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 400;
  color: #131316;
}

h1,
.h1 {
  font-size: 40px;
  margin: 0.8em;
}

h2,
.h2 {
  font-size: 30px;
  margin: 1em;
}

h3,
.h3 {
  font-size: 25px;
  margin: 1em;
}

h4,
.h4 {
  font-size: 18px;
  margin: 1em;
}

h5,
.h5 {
  font-size: 15px;
  margin: 1em;
}

h6,
.h6 {
  font-size: 12px;
  margin: 1em;
}

.form-group {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.form-group.inline {
  float: left;
  width: calc(50% - 30px);
}

.form-control {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 15px;
  background-color: #ffe600;
  border: 1px solid transparent;
  border-radius: 0;
  height: 50px;
  line-height: 1.534;
  padding: 13.495px 23px;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control.submit {
  color: #ffe600;
  background: #131316;
  border: none;
  text-transform: uppercase;
}

.form-control.submit:hover {
  cursor: pointer;
  background: #5a5a68;
}

.form-label {
  display: block;
  color: #eaeef1;
  font-size: 14px;
  margin-bottom: 4px;
}

.form-textarea {
  height: auto;
  resize: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  color: #fff;
  font-size: 15px;
  background: transparent;
  border: 1px solid #ffe600;
  border-radius: 0;
  padding: 22px 85px;
  font-family: "Roboto", Arial, sans-serif;
}

.btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-color: #ffe600;
}

.btn:active {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-color: #ffe600;
}

.block {
  padding: 20px 0;
  background-size: cover;
  background-position: 50% 50%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.block-collapse {
  padding: 0;
}

.block-fill-height {
  height: 100vh;
}

.block-fill-height .block-header {
  display: table-header-group;
  height: 1%;
}

.block-fill-height .block-content {
  display: table-row-group;
}

.block-fill-height .block-footer {
  display: table-footer-group;
  height: 1%;
}

.block-fill-height .block-inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.block-inverse {
  color: #fff;
}

.block-overlay {
  position: relative;
  z-index: 1;
}

.block-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  opacity: 0.5;
}

.navbar {
  position: relative;
}

.navbar-brand {
  display: block;
}

.navbar-brand img {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar-item {
  display: inline-block;
  vertical-align: bottom;
}

.navbar-link {
  display: block;
  padding: 5px 10px;
  margin-right: 15px;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.navbar-link:hover, .navbar-link:focus, .navbar-link:active, .navbar-link.active {
  border: 1px solid #ffe600;
}

.navbar-toggler {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  padding: 5px;
  border: 1px solid #ffe600;
  display: none;
}

.navbar-toggler .ico-bar {
  display: block;
  width: 30px;
  border-top: 3px solid #8e8e8e;
  height: 3px;
  margin-bottom: 4px;
}

.navbar-toggler .ico-bar:last-child {
  margin-bottom: 0;
}

.navbar .collapse {
  display: block;
}

.background-dark {
  background: #424245;
}

.background-darken {
  background: #131316;
}

.background-gray {
  background: #89898b;
}

.background-primary {
  background: #ffeb33;
}

.background-inverse {
  background: #fff;
}

.text-base {
  color: #8e8e8e;
}

.text-primary {
  color: #ffe600;
}

.text-dark {
  color: #131316;
}

.text-invert {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  font-weight: normal;
}

@media (max-width: 768px) {
  h1, .h1 {
    font-size: 29px;
  }
  h2, .h2 {
    font-size: 25px;
  }
  h3, .h3 {
    font-size: 21px;
  }
  h4, .h4 {
    font-size: 15px;
  }
  h5, .h5 {
    font-size: 13px;
  }
  h6, .h6 {
    font-size: 10px;
  }
}

.main {
  text-align: center;
}

.main-logo {
  margin-bottom: 45px;
}

.main .h1 {
  font-weight: 300;
  margin-bottom: 8%;
}

.main-next-arrow {
  height: 20px;
  display: block;
}

.main-next-arrow .icon-arrow:hover {
  color: #ffeb33;
}

.btn {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.primary-text-color {
  color: #ffe600;
}

.invert-text-color {
  color: #fff;
}

.icon-arrow {
  padding: 5px;
}

.header {
  min-width: 100%;
  border-bottom: 1px solid #ffe600;
}

.navbar {
  padding: 0 15px;
}

.navbar-collapse {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

@media (max-width: 768px) {
  .navbar-collapse {
    display: none;
    position: static;
    float: right;
    text-align: right;
    transform: none;
  }
  .navbar-collapse .navbar-item {
    display: block;
    margin-bottom: 5px;
  }
  .navbar-collapse .navbar-link {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    display: none;
  }
}

.about {
  text-align: center;
  padding: 6% 0;
}

.block-heading {
  margin-bottom: 10%;
  text-align: center;
}

.block-heading-description {
  text-transform: uppercase;
  color: #ffe600;
}

.hidden {
  display: none;
}

.feature {
  margin: 0;
  padding: 0;
}

.feature-item {
  width: 33.33%;
  float: left;
  list-style: none;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .feature-item {
    width: 100%;
    float: none;
    margin-bottom: 50px;
  }
}

.feature-content {
  max-width: 290px;
  margin: 0 auto;
}

.feature-heading {
  position: relative;
  min-height: 65px;
}

.feature-number {
  text-transform: uppercase;
  color: #ffe600;
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 25px;
  font-weight: 300;
}

.feature-title {
  padding: 12px 7px 17px 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #131316;
  line-height: 1.2;
  margin-left: 45px;
  margin-bottom: 15px;
  text-align: left;
  border-left: 1px solid #ffe600;
}

.quote {
  padding: 15% 0;
  background: #ffeb33;
  text-align: center;
}

.quote .block-heading {
  margin-bottom: 15px;
}

.quote h3 {
  font-style: italic;
  font-weight: 300;
  line-height: 1.6;
}

.quote .block-heading-description {
  color: #fff;
}

.portfolio {
  text-align: center;
  padding: 6% 0;
}

.portfolio-block {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.portfolio-item {
  width: 25%;
  margin-bottom: 30px;
  float: left;
  list-style: none;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .portfolio-item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .portfolio-item {
    float: none;
    width: 100%;
    padding: 0 5px;
  }
}

.portfolio-img-holder {
  margin: 0 auto;
  width: 270px;
  height: 200px;
  background: #f3f3f3;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-img-holder img {
  max-width: none;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.portfolio-img-holder:hover .portfolio-text-holder {
  background: #ffeb33;
}

.portfolio-img-holder:hover .block-heading {
  display: block;
}

.portfolio-text-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-text-holder .block-heading {
  text-align: center;
  margin-bottom: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
}

.portfolio-text-holder .block-heading-title {
  text-transform: uppercase;
  color: #131316;
  font-size: 20px;
  font-weight: normal;
}

.portfolio-text-holder .block-heading-description {
  color: #fff;
}

.portfolio-arrow .icon-arrow {
  color: #131316;
}

.portfolio-arrow .icon-arrow:hover {
  color: #8e8e8e;
}

.clients {
  padding: 6% 0;
}

.clients-list {
  margin: 0;
  padding: 0;
}

.clients-item {
  text-align: center;
  width: 105px;
  margin-bottom: 15px;
}

.clients-item [class^="icon-"]:hover, .clients-item [class*=" icon-"]:hover {
  color: #8e8e8e;
}

.contact {
  padding: 6% 0;
}

.contact-form {
  max-width: 970px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .form-group {
    margin-left: 5px;
    margin-right: 5px;
  }
  .form-group.inline {
    float: none;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer {
  padding: 40px 0;
  width: 100%;
}

.footer .container {
  padding: 0;
}

.footer-copyrights {
  float: left;
  color: #ffe600;
  font-size: 13px;
}

.footer-socials {
  float: right;
  color: #fff;
}

.footer [class^="icon-"], .footer [class*=" icon-"] {
  padding: 10px;
  margin: 0 5px;
  font-size: 14px;
}

.footer [class^="icon-"]:hover, .footer [class*=" icon-"]:hover {
  cursor: pointer;
  color: #8e8e8e;
}

@media (max-width: 768px) {
  .footer-copyrights, .footer-socials {
    float: none;
    text-align: center;
  }
  .footer-copyrights {
    margin-bottom: 20px;
  }
}
