/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 27.03.2017
 * Author: alex.maslennikova19@gmail.com
 */


@import "components/variables";
@import "components/normalize";
@import "components/mixins";
@import "components/include-media";
@import "components/helpers";
@import "components/global";
@import "components/type";
@import "components/forms";
@import "components/btns";
@import "components/block";
@import "components/navbar";
@import "components/background";
@import "components/text-color";


$breakpoints: (
	'screen-xs': 480px,
	'screen-sm': 768px,
	'screen-md': 992px,
	'screen-lg': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
	text-transform: uppercase;
	font-weight: normal;
}

@include media('<=screen-sm'){
	h1, .h1{font-size:ceil($heading-font-size-1/1.4)}
	h2, .h2{font-size:ceil($heading-font-size-2/1.2)}
	h3, .h3{font-size:ceil($heading-font-size-3/1.2)}
	h4, .h4{font-size:ceil($heading-font-size-4/1.2)}
	h5, .h5{font-size:ceil($heading-font-size-5/1.2)}
	h6, .h6{font-size:ceil($heading-font-size-6/1.2)}
}


.main{
	text-align: center;
	&-logo{
		margin-bottom: 45px;
	}
	.h1{
		font-weight: 300;
		margin-bottom: 8%;
	}
	&-next-arrow{
		height: 20px;
		display: block;
		.icon-arrow:hover{
			color: #ffeb33;
		}
	}
}


.btn{
	text-transform: uppercase;
	margin-bottom: 50px;
}

.primary-text-color{
	color: $text-primary-color;
}

.invert-text-color{
	color: $text-invert-color;
}

.icon-arrow{
	padding: 5px;
}

.header{
	min-width: 100%;
	border-bottom: 1px solid $text-primary-color;
}

.navbar{
	padding: 0 15px;
	&-collapse{
		@include ycenter;
		right: 0;
		@include media('<=screen-sm'){
			display: none;
			position: static;
			float: right;
			text-align: right;
			transform: none;
			.navbar-item{
				display: block;
				margin-bottom: 5px;
			}
			.navbar-link{
				margin: 0;
			}
		}
	}
}

@include media('<=screen-sm'){
		.navbar-toggler{
			display: block;
		}
		.navbar-collapse{
			display: none;
		}
	}

.about{
	text-align: center;
	padding: 6% 0;
}

.block-heading{
	margin-bottom: 10%;
	text-align: center;
	&-description{
		text-transform: uppercase;
		color: $text-primary-color;
	}
}

.hidden{
	display: none;
}

.feature{
	margin: 0;
	padding: 0;
	&-item{
		width: 33.33%;
		float: left;
		list-style: none;	
		padding: 0 10px;
		@include media('<=screen-md'){
			width: 100%;
			float: none;
			margin-bottom: 50px;
		}
	}
	&-content{
		max-width: 290px; 
		margin: 0 auto;
	}
	&-heading{
		position: relative;
		min-height: 65px;
	}
	&-number{
		text-transform: uppercase;
		color: $text-primary-color;
		position: absolute;
		top: 5px;
		left: 0;
		font-size: 25px;
		font-weight: 300;
	}
	&-title{
		padding: 12px 7px 17px 17px;
		font-weight: normal;
		text-transform: uppercase;
		color: $text-dark-color;
		line-height: 1.2;
		margin-left: 45px;
		margin-bottom: 15px;
		text-align: left;
		border-left: 1px solid $text-primary-color;
	}
}

.quote{
	padding: 15% 0;
	background: #ffeb33;
	text-align: center;
	.block-heading{
		margin-bottom: 15px;
	}
	h3{
		font-style: italic;
		font-weight: 300;
		line-height: 1.6;
	}
	.block-heading-description{
		color: $text-invert-color;
	}
}

.portfolio{
	text-align: center;
	padding: 6% 0;
	&-block{
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
	}
	&-item{
		width: 25%;
		margin-bottom: 30px;
		float: left;
		list-style: none;
		padding: 0 15px;
		@include media('<=screen-lg'){
		width: 50%;
		}
		@include media('<=screen-sm'){
		float: none;
		width: 100%;
		padding: 0 5px;		}
	}
	&-img-holder{
		margin:0 auto;
		width: 270px;
		height: 200px;
		background: #f3f3f3;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		img {
			max-width: none;
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
		}
		&:hover{
			.portfolio-text-holder{
				background: #ffeb33;
			}
			.block-heading{
				display: block;
			}
		}
	}
	&-text-holder{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.block-heading{
			text-align: center;
			margin-bottom:0;
			display: none;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translate(0, -50%);
			&-title{
				text-transform: uppercase;
				color: $text-dark-color;
				font-size: 20px;
				font-weight: normal;
			}
			&-description{
				color: $text-invert-color;
			}
		}
	}
	&-arrow{
		.icon-arrow{
			color: $text-dark-color;
			&:hover{
			color: $text-base-color;
			}
		}
	}
}

.clients{
	padding: 6% 0;
	&-list{
		margin: 0;
		padding: 0;
	}
	&-item{
		text-align: center;
		width: 105px;
		margin-bottom: 15px;
		[class^="icon-"]:hover, [class*=" icon-"]:hover{
			color: $text-base-color;
		}
	}
}

.contact{
	padding: 6% 0;
	&-form{
		max-width: 970px;
		margin: 0 auto;
	}
}

@include media('<=screen-sm'){
	.form-group{
		margin-left: 5px;
		margin-right: 5px;
	}
	.form-group.inline{
		float: none;
		width: calc(100% - 10px);
		margin-left: 5px;
		margin-right: 5px;
	}
}

.footer{
	padding: 40px 0;
	width: 100%;
	.container{
		padding: 0;
	}
	&-copyrights{
		float: left;
		color: $text-primary-color;
		font-size: 13px;
	}
	&-socials{
		float: right;
		color: $text-invert-color;
	}
	[class^="icon-"], [class*=" icon-"]{
		padding: 10px;
		margin: 0 5px;
		font-size: 14px;
		&:hover{
			cursor: pointer;
			color: $text-base-color;
		}
	}
	@include media('<=screen-sm'){
		&-copyrights, &-socials{
			float: none;
			text-align: center;
		}
		&-copyrights{
			margin-bottom:20px;
		}
	}
}
